@charset "utf-8";



/****  RESET ****/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, u, i, center,
fieldset, form, label, caption, figure, figcaption, footer, header, input, textarea{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}



/*** GENERAL ***/

body {
	font-family: 'Titillium Web', sans-serif;
	background: url(../images/background.jpg); 
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

h1, h2{
	font-weight: 400;
	color: #f7fcff;
	text-shadow: 2px 2px 2px rgba(0,0,0, .75);
}

h1 {
	font-size: 2.6rem;
	line-height: 3rem;
}

h2 {
	font-size: 1.9rem;
	line-height: 2.2rem;
}

input, select, label, textarea {
	font-family: 'Titillium Web', sans-serif;
	color: #afafaf;
	font-size: 1.0rem;
	line-height: 1.2rem;
	font-weight: 300;
}

::-webkit-input-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300;}
::-moz-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }
:-ms-input-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }
:-moz-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }


.btn, button:disabled {
	font-family: 'Titillium Web', sans-serif;
	color: #FFF;
	outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 3px;
	border: none;
	cursor: pointer;	
}

button:disabled {
    border: 1px solid #90ca6d;
	text-shadow: 1px 1px 1px #3c7208;
	background: linear-gradient(#c6e1a6, #abd182);
	box-shadow: 0 1px 0 #fff, inset 0 1px 0 #cde4b0;
	cursor: no-drop;
}

.btn_large {
	font-size: 1.4rem;
	line-height: 1.6rem;
    padding: 11px;
}

.btn_small {
	font-size: 1.2rem;
	line-height: 1.4rem;
    padding: 8px;
}

.btn_green {
    border: 1px solid #3b9a00;
	text-shadow: 1px 1px 1px #255800;
	background: linear-gradient(#a3d840, #73b618);
	box-shadow: 0 1px 0 #fff, inset 0 1px 0 #addc54;
}

.btn_green:hover {
	text-shadow: 1px 1px 1px #1f4a00;
	background: linear-gradient(#93cd35, #5ca311);
	box-shadow: 0 1px 0 #fff, inset 0 1px 0 #b1db63;
}

.btn_red {
    border: 1px solid #a2202a;
	text-shadow: 1px 1px 1px #4e2605;
	background: linear-gradient(#f65e70, #f03747);
	box-shadow: 0 1px 0 #fff, inset 0 1px 0 #f76f7f;
}

.btn_red:hover {
	text-shadow: 1px 1px 1px #5d1b0c;
	background: linear-gradient(#ea485c, #de2635);
	box-shadow: 0 1px 0 #fff, inset 0 1px 0 #ec5c6d;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}



/*** PAGE TEMPLATE ***/


/* header */

.brand{
	width: 100%;
	padding: 50px 20px 35px 20px;
}

.brand h1{	
	display: block;
	text-indent: -5000px;
	margin: 0 auto;
	max-width: 434px;
	height: 115px;
	background: url(../images/brand_top.svg); 
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	opacity: 0.5;
}


/* form box */

.container{
	max-width: 1050px;
	margin: 0 auto;
	display: flex;
	flex-diretion: row;
	flex-wrap: wrap;
	justify-content: center;
}

.left_column, .right_column{
	width: 45%;
	padding: 0 30px;
	box-sizing: border-box;
}

.box {
	margin-bottom: 40px;
}

.box h2 {
	margin-bottom: 20px;
	text-align: center;
}

.box > div {
	background-color: rgba(0,0,0,0.25);
	padding: 20px;
	border-radius: 3px;
}

.form_box {
	background-color: #f4f4f4;
	border-radius: 3px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}


/* input */

.input_item, .textarea_item {
	margin: 15px 0;
	border-radius: 3px;
	position: relative;
	display: flex;
}

.input_item:nth-child(1){
	margin-top: 0;
}

.input_item:before {
	content: "";
	position: absolute;
	left: 64px;
	top: 5px;
	width: 1px;
	height: 34px;
	background-color: #e0e0e0;
}

.input_item input, .input_item select, .textarea_item textarea {
	flex: 1;
	min-width: 10%;
	height: 44px;
	padding: 10px 5px 10px 85px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	transition: 0.5s;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.1);
	box-shadow: 0 1px 1px #FFF;
}

.input_item select {
	padding: 8px 5px 10px 85px;
}

input:hover, input:active, input:focus, select:hover, select:active, select:focus, textarea:hover, textarea:active, textarea:focus {
	outline: none;
	border: solid 1px #9bd435;
}

input:active, input:focus, select:active, select:focus, textarea:active, textarea:focus {
	box-shadow: 0 0 2px #9bd435;
}


/* input icons */

/* Register Form */

.register_form .input_item:nth-child(1){
	background: url(../images/icon_input_set.svg) 20px 5px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}
	
.register_form .input_item:nth-child(2){
	background: url(../images/icon_input_set.svg) 20px -29px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}

.register_form .input_item:nth-child(3){
	background: url(../images/icon_input_set.svg) 20px -29px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}

.register_form .input_item:nth-child(4){
	background: url(../images/icon_input_set.svg) 20px -63px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}

.register_form .input_item:nth-child(5){
	background: url(../images/icon_input_set.svg) 20px -97px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}


/* Send email */

.send_email .input_item:nth-child(1){
	background: url(../images/icon_input_set.svg) 20px 5px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}
	
.send_email .input_item:nth-child(2){
	background: url(../images/icon_input_set.svg) 20px -63px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}

.send_email .input_item:nth-child(3){
	background: linear-gradient(#F8F8F8, #EFEFEF);
}


/* Sign In Form */

.sign_in .input_item:nth-child(1){
	background: url(../images/icon_input_set.svg) 20px 5px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}
	
.sign_in .input_item:nth-child(2){
	background: url(../images/icon_input_set.svg) 20px -29px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}


/* Recover Form */

.recover_form .input_item:nth-child(1){
	background: url(../images/icon_input_set.svg) 20px -63px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}
	
.recover_form .input_item:nth-child(2){
	background: url(../images/icon_input_set.svg) 20px -132px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}


/* Subscribe Form */

.subscribe_form .input_item:nth-child(1){
	background: url(../images/icon_input_set.svg) 20px -63px no-repeat, linear-gradient(#F8F8F8, #EFEFEF);
}


/* checkbox */

.checkbox_conteiner{
	margin: 20px 0;
}

.checkbox_item {
	display: block;
	position: relative;
	padding: 5px 0 0 40px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox_item input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	border-radius: 3px;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px #FFF;
	background: linear-gradient(#F8F8F8, #EFEFEF);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox_item input:checked ~ .checkmark:after {
	display: block;
}

.checkbox_item .checkmark:after {
	left: 5px;
	top: 5px;
	width: 14px;
	height: 14px;
	border-radius: 3px;
	background: linear-gradient(#9dd230, #77bd11);
}



/*** SECTION ***/


/* Register Form */

.button_container {
	display: flex;
}

.button_container button {
	 flex: 1;
}


/* Send email */

.textarea_item textarea {
	padding: 10px 5px 10px 20px;
	height: 230px;
	resize: none;	
}


/* Sign in Form */

.sign_in .checkbox_conteiner{
	flex:1.3;
}

.button_container button{
	flex:1;
	align-self: center;
}

/* Recover Form & Subscribe Form */

.button_group { 
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
}

.button_group button {
	width: 45%;
}

/* footer */

.brand_footer {
	display: flex;
	width: 100%;
	margin-bottom: 50px;
}

.brand_footer a {
	display: block;
	text-indent: -5000px;
	margin: 20px auto 0 auto;
	width: 360px;
	height: 134px;
	background: url(../images/brand_footer.svg); 
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	opacity: 0.5;
}




/*** MEDIA QUERIES ***/

@media all and (max-width: 1050px){	
.left_column, .right_column {
	width: 46%;
	padding: 0 15px;
}

label {
	font-size: 0.9rem;
	line-height: 1rem;
}
}


@media all and (max-width: 860px){	
.container{
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
}

.left_column, .right_column {
	width: 70%;
	padding: 0 15px;
}

.brand h1{	
	max-width:400px;
	height: 104px;
}

h2 {
	font-size: 1.7rem;
	line-height: 1.9rem;
}

label {
	font-size: 1rem;
	line-height: 1.1rem;
}	
}


@media all and (max-width: 660px){	
.brand h1{	
	max-width:350px;
	height: 91px;
}

.left_column, .right_column {
	width: 85%;
	padding: 0 15px;
}

label {
	font-size: 0.9rem;
	line-height: 1rem;
}	
}


@media all and (max-width: 480px){
	
.brand h1{	
	max-width: 290px;
	height: 75px;
}

.left_column, .right_column {
	width: 100%;
	padding: 0 15px;
}

label {
	font-size: 0.7rem;
	line-height: 0.9rem;
}

.brand_footer a {
	margin: 15px auto 0 auto;
	width: 300px;
	height: 110px;
}	
}

@media all and (max-width: 350px){
	
h2 {
	font-size: 1.5rem;
	line-height: 1.7rem;
}
	
.brand h1{	
	max-width: 245px;
	height: 63px;
}

label {
	font-size: 0.7rem;
	line-height: 0.8rem;
}

.brand_footer a {
	margin: 15px auto 0 auto;
	width: 220px;
	height: 80px;
}
}

